.navbar-container{
    background-color: #f1328a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.container-logo img{
    width: 7.5rem;
}
.navbar{
    display: flex;
    list-style: none;
}
.navbar li{
    padding-left: 8rem;
    padding-right: 8rem;
}
.navbar a{
    font-family: sans-serif;
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;
}
